.carcontainer {
  width: 80%;
  height: auto;
  display: flex;
  justify-content: space-around;
  background-color: #e2e2e2;
  margin: auto;

}
.Sidebarcontainer {
  width: 20%;
}
.rightcontainer {
  width: 74%;
}
.Filtercontainer {
  display: none;
}

@media screen and (max-width: 900px) {
  .Sidebarcontainer {
    display: none;
  }
  .carcontainer {
    width: 100%;
    height: auto;

    display: flex;
    flex-direction: column;
  }

  .Filtercontainer {
    display: block;
  }
  .rightcontainer {
    width: 100%;
    height: auto;
  }
}
