.container {
  width: 100%;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
  height: 100%;
  border: 5px solid blue;
 

}
.class1 {
  border: 0.1px solid rgb(180, 176, 176);
}
.pickup{
 margin-top: 20px;
  display: flex;
  justify-content: space-evenly;
  border: 1px solid greenyellow;
 
}
.texttrip {
  background-color: white;
  width: auto;
  height: 50px;
  text-align: center;
}
.texttrip h1 {
  color: #333333;
  margin-top: 10px;
  font-weight: 700;
  font-size: 18px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.summ {
  width: 100%;

height: auto;
  margin: auto;
}
